.vsplmainbox * {
    box-sizing: border-box;
  }
  .vsplmainbox {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #f6f7f9;
  }
  
  .vsplmainbox h1 {
      margin: 0;
      font-size: 25px;
      line-height: 1;
  }
  .vsplbutton {
      color: inherit;
      background-color: transparent;
      border: 0;
      outline: 0 !important;
      cursor: pointer;
      z-index:999;
      position:relative;
  }
  
  .vsplmainbox .vschatbox-open {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 64px;
      height: 64px;
      color: #fff;
      background-color: #127aff;
      background-position: center center;
      background-repeat: no-repeat;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      margin: 16px;
      padding: 12px 5px;
  }
  
  .vsplmainbox .vschatbox-popup {
      display: flex;
      position: absolute;
      box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
      flex-direction: column;
      display: none;
      bottom: calc(2 * 16px + 80px);
      right: 16px;
      width: 300px;
      height: auto;
      background-color: #fff;
      border-radius: 16px;
  }

  .vsplmainbox .vschatbox-popup .vschatbox-popup__header {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      padding:8px;
      color: #fff;
      align-items: center;
      justify-content: space-around;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      height: 140px;
  }
  .vsplmainbox .vsprofile_pic {
    top: -6em;
    position: relative;
    background: #fff;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    transform: rotate(90deg);
  }
  .vsplmainbox .vsprofile_title{
      top: -7.5em;
      position: relative;
  }
  .vsplmainbox .vsprofile_title h1 {
    color: #42c6a5;
    font-family: calibri !important;
    letter-spacing: unset;
    font-weight: bold;
  }
  .vsplmainbox .vschatbox-popup .vschatbox-popup__main {
      box-sizing: border-box;
      width: 100%;
      padding: 16px 16px 0px 16px;
      line-height: calc(16px + 16px / 2);
      color: #888;
      text-align: center;
      height: 265px;
  }
  .vsplmainbox .fa-4x {
      font-size: 8em;
  }
  .vsplmainbox .vscalling_btn {
    background-color: #F90B28;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transform: rotate(135deg);
    top: -5em;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 15px;
  }
  .vsplmainbox .vsprofile_pic img{
      border: 15px solid #fff;
      border-radius: 50%;
  }
  .vsplmainbox .down-arrow {
      display: inline-block;
      position: relative;
      padding: 10px 0;
      width: 100%;
      text-align: center;
  }
  .vsplmainbox .down-arrow:after {
      content: '';
      display: block;  
      position: absolute;
      left: 13.5em;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 100%;
      width: 0;
      height: 0;
      border-top: 10px solid #f2f2f2;
      border-right: 10px solid transparent;
      border-bottom: 0 solid transparent;
      border-left: 10px solid transparent;
  }
  .vsplmainbox .vschatbox-popup #remoteAudio{
      width: 0;
      height: 0;
  }
  .vsplmainbox .vsfooter{
      border-radius: 0px 0px 16px 16px;
      background-color: #f2f2f2;
      display:block;
  }
  .vsplmainbox .vsfooter p{
      font-size:10px;
      font-weight: bold;
      color:#666;
      margin:0;
  }